/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  
  section {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  #grafik-turbidity {
    width: 100%;
    height: 300px;
  }
  
  #tabel-data {
    width: 100%;
    border-collapse: collapse;
  }
  
  #tabel-data th, #tabel-data td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  #tabel-data th {
    background-color: #f0f0f0;
  }