body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
}
.main-content {
    margin-left: 0px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.main-content video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6); /* Transparent blue */
    padding: 10px 20px;
    border-radius: 20px; /* More rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    color: #333; /* Change text color to dark for better contrast */
}
.header h1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    font-size: 22px;
    margin-left: 20px; /* Geser tulisan Fishervice ke kanan */
}
.header h1 img {
    width: 40px;
    margin-right: 10px;
}
.header h1 i {
    font-size: 20px;
    position: absolute;
    left: -20px;
    cursor: pointer;
    top: 13px;
}
.header h1 .back-text {
    position: absolute;
    left: 5px;
    top: 14px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.header .user {
    font-size: 18px;
    white-space: nowrap;
}
.pH, .analyst {
    background-color: rgba(255, 255, 255, 0.4); /* Transparent blue */
    padding: 20px;
    border-radius: 20px; /* More rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    color: #333; /* Change text color to dark for better contrast */
}
.pH h2, .analyst h2 {
    margin-top: 0;
    text-align: center;
}
.pH .cards, .analyst .cards {
    display: flex;
    justify-content: center;
}
.card {
    background-color: #ffffff;
    border-radius: 20px; /* More rounded corners */
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card i {
    font-size: 24px;
    color: #29b6f6;
    margin-bottom: 10px;
}
.card h3 {
    margin: 10px 0;
}
.card p {
    margin: 0;
    font-size: 18px;
}
.analyst img {
    width: 100%;
    border-radius: 10px;
}
.footer {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent blue */
    padding: 10px 20px;
    border-radius: 20px; /* More rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
    margin-top: 400px;
    color: #333; /* Change text color to dark for better contrast */
}
.footer p {
    margin: 5px 0;
    font-size: 16px;
}
.search-bar {
    text-align: center;
    margin: 20px 0;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}

.search-bar button {
    padding: 10px;
    font-size: 16px;
    background-color: #29b6f6;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #1a89c2;
}

.history table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: #ffffff;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.history thead {
    background-color: #29b6f6;
    color: white;
}

.history th, .history td {
    padding: 10px;
    border: 1px solid #ddd;
}

@media (max-width: 750px) {
    .header h1 {
      font-size: 24px; /* Ukuran font lebih kecil */
    }
  
    .header h1 img {
      width: 40px; /* Ukuran gambar lebih kecil */
    }
  
    .header h1 i {
      font-size: 16px; /* Ukuran font ikon dan teks kembali lebih kecil */
      top: 14px;
    }

    .header h1 .back-text {
      font-size: 16px;
      left: 5px;
      top: 13px;
    }
  
    .header .user {
      font-size: 16px; /* Ukuran font user lebih kecil */
    }
  
    .card {
      padding: 15px; /* Padding card lebih kecil */
    }
  
    .card h3 {
      font-size: 18px; /* Ukuran font judul card lebih kecil */
    }
  
    .card p {
      font-size: 16px; /* Ukuran font teks card lebih kecil */
    }
  
    .footer {
      margin-top: 418px; /* Margin footer lebih kecil */
    }
  }
  
  /* Responsif untuk lebar layar 750px */
  @media (max-width: 500px) {
    .header h1 {
      font-size: 22px; /* Ukuran font lebih kecil */
    }
  
    .header h1 img {
      width: 35px; /* Ukuran gambar lebih kecil */
    }
  
    .header h1 i {
      font-size: 16px; /* Ukuran font ikon dan teks kembali lebih kecil */
      top: 11px;
    }
    
    .header h1 .back-text {
        font-size: 16px;
        top: 10px;
    }
  
    .header .user {
      font-size: 15px;
      white-space: normal;
    }
  
    .card {
      padding: 12px; /* Padding card lebih kecil */
    }
  
    .card h3 {
      font-size: 17px; /* Ukuran font judul card lebih kecil */
    }
  
    .card p {
      font-size: 15px; /* Ukuran font teks card lebih kecil */
    }
  
    .footer {
      margin-top: 432px; /* Margin footer lebih kecil */
    }
    .history th, .history td {
        padding: 5px;
        font-size: 15;
    }
    .search-bar input {
        padding: 10px;
        font-size: 14px;
    }
    
    .search-bar button {
        padding: 10px;
        font-size: 14px;
    }
  }

  /* Responsif untuk lebar layar 345px */
  @media (max-width: 400px) {
    .header h1 {
      font-size: 20px; /* Ukuran font lebih kecil */
    }
  
    .header h1 img {
      width: 30px; /* Ukuran gambar lebih kecil */
    }
  
    .header h1 i {
      font-size: 13px; /* Ukuran font ikon dan teks kembali lebih kecil */
      top: 10px;
    }
    
    .header h1 .back-text {
      font-size: 13px;
      top: 9px;
      left: -5px;
    }
  
    .header .user {
      font-size: 14px; /* Ukuran font user lebih kecil */
    }
  
    .card {
      padding: 10px; /* Padding card lebih kecil */
    }
  
    .card h3 {
      font-size: 16px; /* Ukuran font judul card lebih kecil */
    }
  
    .card p {
      font-size: 14px; /* Ukuran font teks card lebih kecil */
    }
  
    .footer {
      margin-top: 444px; /* Margin footer lebih kecil */
    }
  
    .footer p {
      font-size: 12px; /* Ukuran font teks footer lebih kecil */
    }
    .history th, .history td {
        padding: 5px;
        font-size: 12;
    }
    .search-bar input {
        padding: 10px;
        font-size: 12px;
        width: 200px;
    }
    
    .search-bar button {
        padding: 10px;
        font-size: 12px;
    }
  }